* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body 
{
  background-color: #F5F7FA;
  color: #0A2647;
  overflow-x: hidden;
}

/* ------------------- TOP NAVBAR ------------------- */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #9fbcdd;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-left img {
  width: 180px;
  height: auto;
}

.navbar input {
  width: 40%;
  padding: 7px 15px;
  border: none;
  border-radius: 20px;
  outline: none;
}

.nav-left input:focus {
  box-shadow: 0 0 5px #00C2CB;
  border: #0A2647 solid 1px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

/* ------------------- SIDEBAR ------------------- */
.sidebar 
{
  width: 200px;
  background-color: #144272;
  color: #EAF6F6;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 100px 0;
  overflow-y: auto;
}

.nav-links 
{
  
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 5px 0;
}

.nav-links li a
{
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #ecf0f1;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  background: #4d7194;
  color: #3498db;
}

.nav-links li.active a {
  background: #3498db;
  color: white;
  border-right: 3px solid #2980b9;
}

/* ------------------- MAIN CONTENT ------------------- */
.main-content {
  margin-left: 230px;
  padding: 130px 30px 100px 30px;
  min-height: calc(100vh - 120px);
}

button {
  background: white;
  color: #00C2CB;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s;
}

button:hover {
  background: #00C2CB;
  color: white;
}

/* ------------------- FOOTER ------------------- */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0A2647;
  color: #EAF6F6;
  text-align: center;
  padding: 10px 0;
  font-size: 13px;
  z-index: 1000;
}

